
<div class="divVoit">
<button type="button" class="btn btn-danger voit">Liste des véhicules</button>
</div>
<input class="form-control form-control-lg search" type="text" placeholder="Rechercher voiture...">
<table class="table">
    <thead class="thead-light">
      <tr>
          <th scope="col">Référence</th>
        <th scope="col">Marque</th>
        <th scope="col">Modèle</th>
        <th scope="col">Année</th>
        <th scope="col">Quantité</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let v of listevoitures |async">
          <td>{{v.reference}}</td>
        <td>{{v.marque}}</td>
        <td>{{v.modele}}</td>
        <td>{{v.annee}}</td>
        <td><span class="badge badge-success badge-pill">stock : ({{v.quantite}})</span></td>
      </tr>
      <!-- <tr>
        <td>Renault</td>
        <td>Megane</td>
        <td>2017</td>
        <td><span class="badge badge-danger badge-pill">Rupture(0)</span></td>
      </tr>
      <tr>
        <td>Renault</td>
        <td>Megane</td>
        <td>2019</td>
        <td><span class="badge badge-success badge-pill">En stock(15)</span></td>
      </tr>
      <tr>
        <td>Peugeot</td>
        <td>3008</td>
        <td>2017</td>
        <td><span class="badge badge-success badge-pill">En stock(15)</span></td>
      </tr> -->
    </tbody>
  </table>
  

