body {
    background: #000 !important;
    padding: 8%;;
}
.card {
    border: 1px solid #28a745;
}


.card-header {
    color: #fff;
    /*background: #ff0000;*/
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 600 !important;
    margin-top: 10px;
    border-bottom: 0;
}
.w-75 {
    width: 39%!important;
}
.bg-dark {
    background-color: #0000!important;
}

