<div class="divPiece">
    <button type="button" class="btn btn-danger pieces">Liste des pièces</button>
    </div>
    <input class="form-control form-control-lg search" type="text" placeholder="Rechercher pièce...">
      <table class="table">
          <thead class="thead-light">
            <tr>
              <th scope="col">Reference</th>
              <th scope="col">quantite</th>
              <th scope="col">Prix unitaire HT</th>
              <th scope="col">Description</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let p of listepieces |async">
              <th scope="row">{{p.reference}}</th>
              <td>
                  <span class="badge badge-success badge-pill">stock : ({{p.quantite}})</span>
              </td>
              <td>{{p.prixUnitaireHt}}</td>
              <td>{{p.description}}</td>

              <td> <button type="button" class="btn btn-light" (click)="displayDetails()">Afficher détail
                  <i class="fas fa-edit"></i></button>
              </td>

            </tr>
          </tbody>
        </table>
