<div class="divDev">
    <button type="button" class="btn btn-danger dev">Ajouter devis</button>
    </div>

<form class="container">
    <div class="form-group">
      <label for="numerodevis">Numéro devis</label>
      <input class="form-control" type="text" placeholder="Numero devis" name="numerodevis" [(ngModel)]="numerodevis">
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">date de création devis
            <input class="form-control" type="date">
        </label>
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Etat</label>
        <input class="form-control" type="text" placeholder="Default input">
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Prix unitaire HT</label>
        <input class="form-control" type="text" placeholder="Default input">
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Taux TVA</label>
        <input class="form-control" type="text" placeholder="Default input">
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Référence Voiture</label>
        <input class="form-control" type="text" placeholder="Default input">
      </div>
      <div class="form-group">
        <label for="client">Client</label>
        <input class="form-control" type="text" placeholder="Client" name="client" [(ngModel)]="client">
      </div>
      <span class="total">Total : 690.25€</span>
      <div class="boutons">
      <button type="button" class="btn btn-success confirme" (click)="doCreer()">Envoyer</button>
      <button type="button" class="btn btn-warning annule">Annuler</button>
    </div>
  </form>
