<div class="divDev">
    <button type="button" class="btn btn-danger dev">Modifier devis</button>
    </div>

<form class="container">
  <div class="radioButton">
        <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                <label class="form-check-label" for="exampleRadios1">
                  Accepté Devis
                </label>
        </div>
        <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                <label class="form-check-label" for="exampleRadios2">
                  Refuser devis
                </label>
        </div>
      </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Numéro devis</label>
      <input class="form-control" type="text" placeholder="Default input">
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">date de création devis
            <input class="form-control" type="date">
        </label>
    </div>
    
      <div class="form-group">
        <label for="exampleFormControlInput1">Prix unitaire HT</label>
        <input class="form-control" type="text" placeholder="Default input">
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Taux TVA</label>
        <input class="form-control" type="text" placeholder="Default input">
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Référence Voiture</label>
        <input class="form-control" type="text" placeholder="Default input">
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Client</label>
        <input class="form-control" type="text" placeholder="Default input">
      </div>
      <span class="total">Total : 690.25€</span>
      <div class="boutons">
      <button type="button" class="btn btn-success confirme">Envoyer</button>
      <button type="button" class="btn btn-warning annule">Annuler</button>
    </div>
  </form>

