<div class="divVoit">
    <button type="button" class="btn btn-danger voit">Liste des clients</button>
    </div>
    <input class="form-control form-control-lg search" type="text" placeholder="Rechercher client...">
<button type="button" class="btn btn-success add" (click)="addCustomer()">Ajouter client</button>
<table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">Nom</th>
        <th scope="col">Prenom</th>
        <th scope="col">Adresse</th>
        <th scope="col">Ville</th>
        <th scope="col">Code postal</th>
        <th scope="col">Téléphone</th>

        <th scope="col">Actions</th>
        <th scope="col">Désactiver</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cl of listeclients |async">
        <td>{{cl.nom}}</td>
        <td>{{cl.prenom}}</td>
        <td>{{cl.adresse}}</td>
        <td>{{cl.ville}}</td>
        <td>{{cl.codePostal}}</td>
        <td>{{cl.telephone}}</td>

        <td>
            <button type="button" class="btn btn-light" 
            (click)="displayDetails(cl.id)">Afficher détail
            <i class="fas fa-edit"></i></button>
        </td>
        <td><button type="button" class="btn btn-light" 
          (click)="doDelete(cl.id)">Désactiver
          <i class="fas fa-edit"></i></button></td>
      </tr>
     
     
      
    </tbody>
  </table>


