<input class="form-control form-control-lg" type="text" placeholder="Rechercher client...">
<button type="button" class="btn btn-success" (click)="addCustomer()">Ajouter client</button>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Devis</th>
        <th scope="col">Nom</th>
        <th scope="col">Prenom</th>
        <th scope="col">Adresse</th>
        <th scope="col">Ville</th>
        <th scope="col">Code postal</th>
        <th scope="col">Téléphone</th>
        <th scope="col">Créateur fiche</th>
        <th scope="col">Facture</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">D-100</th>
        <td>Sergent</td>
        <td>Luc</td>
        <td>84 avenue de le meringue</td>
        <td>Meringue City</td>
        <td>69069</td>
        <td>0689596325</td>
        <td>Joseph Le Chef</td>
        <td>F12</td>
        <td>
            <button type="button" class="btn btn-dark" 
            (click)="displayDetails()">Afficher détail</button>
        </td>
      </tr>
      <tr>
        <th scope="row">D-100</th>
        <td>Sergent</td>
        <td>Luc</td>
        <td>84 avenue de le meringue</td>
        <td>Meringue City</td>
        <td>69069</td>
        <td>0689596325</td>
        <td>Joseph Le Chef</td>
        <td>F12</td>
        <td>
            <button type="button" class="btn btn-dark" 
            (click)="displayDetails()">Afficher détail</button>
        </td>
      </tr>
      <tr>
        <th scope="row">D-100</th>
        <td>Sergent</td>
        <td>Luc</td>
        <td>84 avenue de le meringue</td>
        <td>Meringue City</td>
        <td>69069</td>
        <td>0689596325</td>
        <td>Joseph Le Chef</td>
        <td>F12</td>
        <td>
            <button type="button" class="btn btn-dark" 
            (click)="displayDetails()">Afficher détail</button>
        </td>
      </tr>
      <tr>
        <th scope="row">D-100</th>
        <td>Sergent</td>
        <td>Luc</td>
        <td>84 avenue de le meringue</td>
        <td>Meringue City</td>
        <td>69069</td>
        <td>0689596325</td>
        <td>Joseph Le Chef</td>
        <td>F12</td>
        <td>
            <button type="button" class="btn btn-dark" 
            (click)="displayDetails()">Afficher détail</button>
        </td>
      </tr>
      
    </tbody>
  </table>

