<h1>Bonjour Mecanicien</h1>
<button type="button" class="btn btn-primary btn-lg" (click)="gestionStockMeca()">Stock pièces</button>
<button type="button" class="btn btn-secondary btn-lg" (click)="ficheDeTravail()">Consultation tâches</button>


<h1>Bonjour Commercial</h1>
<button type="button" class="btn btn-primary btn-lg" (click)="gestionStockVoiture()">Stock Voitures</button>
<button type="button" class="btn btn-secondary btn-lg" (click)="gestionDevis()">Devis</button>
<button type="button" class="btn btn-secondary btn-lg" (click)="gestionClient()">Clients</button>
